<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="E2EFramework.SeleniumFramewor.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="E2EFramework.SeleniumFramewor.AppTest"/>
      <class name="E2EFramework.SeleniumFramewor.HomePage"/>
      <class name="E2EFramework.SeleniumFramewor.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
